.services {
  text-align: center;

  .title {
    margin: 92px 0 95px;

    @media (max-width: 767px) {
      &:before {
        width: 150px;
      }
    }
  }

  .swiper-container {
    width: 100%;
    margin-bottom: 21px;

    .swiper-button {
      &-next {
        background-image: url('/assets/images/arrowRight.svg');
        top: 31%;
        width: 65px;
        right: 11%;

        &:hover {
          opacity: 0.3;
        }
      }

      &-prev {
        background-image: url('/assets/images/arrowLeft.svg');
        top: 31%;
        width: 63px;
        left: 11%;

        &:hover {
          opacity: 0.3;
        }
      }
    }

    &:before {
      content: '';
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 46%,
        rgba(255, 255, 255, 0) 100%
      );

      position: absolute;
      width: 10%;
      height: 100%;
      left: -1px;
      top: -1px;
      z-index: 2;
    }
    &:after {
      content: '';
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 54%,
        rgba(255, 255, 255, 1) 100%
      );
      position: absolute;
      width: 10%;
      height: 100%;
      right: -4px;
      top: -1px;
      z-index: 2;
    }

    &:before {
      content: '';
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 46%,
        rgba(255, 255, 255, 0) 100%
      );

      position: absolute;
      width: 10%;
      height: 100%;
      left: -1px;
      top: -1px;
      z-index: 2;

      @media (max-width: 683px) {
        display: none;
      }
    }
    &:after {
      content: '';
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 54%,
        rgba(255, 255, 255, 1) 100%
      );
      position: absolute;
      width: 10%;
      height: 100%;
      right: -4px;
      top: -1px;
      z-index: 2;
      @media (max-width: 683px) {
        display: none;
      }
    }

    .swiper-wrapper {
      margin-bottom: 35px;
    }

    .swiper-slide.swiper-slide-prev {
      display: flex;
      justify-content: flex-end;
      position: relative;
      left: 3.8%;
      @media (max-width: 944px) {
        left: 0;
      }
    }
    .swiper-slide.swiper-slide-next {
      display: flex;
      justify-content: flex-start;
      position: relative;
      right: 3.8%;

      @media (max-width: 944px) {
        left: 0;
      }
    }

    .swiper-slide {
      display: flex;
      justify-content: center;

      @media (max-width: 944px) {
        flex-wrap: wrap;
      }
    }

    .slide-container {
      width: 218px;

      @media (max-width: 683px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
      }

      @media (max-width: 485px) {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #787878;
        margin-bottom: 25px;
        width: 300px;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: rgb(25, 25, 99);
      margin: 0 auto 16px;

      @media (max-width: 485px) {
        margin: 0 20px 16px 0;
      }
    }

    .skyblue {
      background-color: #769eca;
    }
    .blue {
      background-color: #1a3255;
    }
    .purple {
      background-color: #6c6b86;
    }
    .greenish {
      background-color: #869bac;
    }
    .second {
      @media (max-width: 683px) {
        margin-right: 5px;
      }
      @media (max-width: 485px) {
        margin-right: 20px;
      }
    }
    .third {
      @media (max-width: 683px) {
        width: 200px;
      }
      @media (max-width: 485px) {
        width: 113px;
        margin-right: 0;

        .puzzle-header-width {
          max-width: 150px;
        }
      }

      img {
        padding: 3px 0 0 8px;
      }
    }

    .service-type {
      color: #787878;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;

      @media (max-width: 485px) {
        max-width: 150px;
      }
    }

    .swiper-pagination {
      display: none;
    }
    @media (max-width: 1169px) {
      .swiper-pagination {
        display: block;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}
