.title {
  color: #9a9a9a;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  position: relative;

  &:before {
    content: '';
    background-color: #769eca;
    position: absolute;
    width: 250px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -33px;
  }
}
